/* styles.css */
/* Written by Alex Schoepf */
/* github.com/Arschoepf */
/* Do Not Copy */

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: darkslategrey;
    color: seashell;
    font-family: verdana;
}

.title {
    text-align: center;
    margin: 0;
}

header {
    position: fixed;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 0;
    margin: 0;
    background-color: coral;
    width: 100%;
    color: chartreuse;
}

a {
    color: inherit;
}

.preview {
    margin-top: 79px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.favorite {
    margin-top: 79px;
    padding: 0.5%;
}

.vacation {
    margin: 0.5%;
    padding: 0.5%;
    background-color: steelblue;
    flex-basis: 28%;
}

.summary {
    text-align: justify;
    text-indent: 50px;
}

img {
    max-width: 100%;
    right: 0;
}

p {
    text-indent: 50px;
}

.image {
    background-color: steelblue;
    margin: 0.5%;
    padding: 0.5%;
    width: 20%;
    float: inline-start;
}

.image-right {
    background-color: steelblue;
    margin: 0.5%;
    padding: 0.5%;
    width: 20%;
    float: right;
}

.image-left {
    background-color: steelblue;
    margin: 0.5%;
    padding: 0.5%;
    width: 20%;
    float: left;
}

.caption {
    font-size: small;
}

.break {
    width: 100%;
}

.button {
    background-color: forestgreen; 
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    flex-basis: 15%;
}

footer {
    background-color: saddlebrown;
    margin-top: 0.5%;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Do Not Copy */